In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./astro_clean_exif.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5429 entries, 0 to 5428
Data columns (total 13 columns):
id                5429 non-null int64
user_nid          5429 non-null object
user_nickname     5429 non-null object
date_taken        5429 non-null object
capture_device    3572 non-null object
title             5406 non-null object
descr             4170 non-null object
user_tags         5429 non-null object
lon               3951 non-null float64
lat               3951 non-null float64
accuracy          3951 non-null float64
dl_url            5429 non-null object
exif              4456 non-null object
dtypes: float64(3), int64(1), object(9)
memory usage: 593.8+ KB

In [4]:
df[['capture_device','exif']].head(5)

,capture_device,exif
0,Canon+EOS+6D,Exif+IFD0.Date%2FTime:2013%3A09%3A28+01%3A29%3...
1,Canon+EOS+7D,Exif+IFD0.Date%2FTime:2011%3A03%3A20+10%3A35%3...
2,SONY+SLT-A33,Exif+IFD0.Date%2FTime:2014%3A03%3A03+22%3A16%3...
3,NIKON+CORPORATION+NIKON+D60,Exif+IFD0.Date%2FTime:2008%3A09%3A09+15%3A38%3...
4,Canon+EOS+REBEL+T3,Exif+IFD0.Date%2FTime:2013%3A02%3A12+16%3A56%3...

In [6]:
tmp = df[df.exif.notnull()]

In [7]:
tmp.reset_index(drop=True,inplace=True)

In [9]:
l = []
for i in range(len(tmp)):
    exif = tmp.exif.loc[i]
    l.append(len(exif.split(",")))

In [10]:
from collections import Counter

In [11]:
Counter(l)

Counter({15: 585, 54: 191, 48: 174, 16: 171, 40: 160, 21: 117, 43: 101, 38: 94, 45: 94, 44: 93, 46: 87, 35: 84, 51: 78, 39: 76, 82: 74, 41: 72, 49: 69, 53: 65, 42: 64, 37: 54, 50: 54, 36: 52, 47: 50, 33: 48, 67: 47, 14: 44, 81: 43, 52: 42, 60: 41, 94: 41, 63: 40, 70: 40, 118: 40, 13: 39, 27: 39, 31: 39, 57: 39, 58: 39, 17: 34, 30: 32, 34: 32, 80: 32, 18: 31, 24: 31, 32: 29, 72: 28, 110: 28, 6: 26, 29: 26, 10: 25, 66: 25, 106: 25, 20: 23, 112: 23, 116: 23, 5: 22, 59: 22, 108: 22, 28: 21, 55: 21, 104: 21, 123: 21, 19: 20, 22: 20, 56: 20, 79: 20, 122: 20, 25: 19, 2: 18, 23: 18, 109: 18, 12: 17, 61: 17, 87: 16, 111: 16, 115: 16, 9: 15, 62: 15, 103: 15, 114: 15, 120: 15, 78: 14, 77: 13, 7: 11, 8: 11, 92: 11, 119: 9, 3: 8, 73: 8, 74: 8, 98: 7, 105: 7, 113: 7, 117: 7, 121: 7, 1: 6, 4: 6, 26: 6, 107: 6, 11: 5, 65: 5, 84: 5, 86: 5, 91: 5, 102: 5, 124: 5, 64: 4, 83: 4, 76: 3, 89: 3, 95: 3, 99: 3, 134: 3, 88: 2, 93: 2, 96: 2, 101: 2, 71: 1, 75: 1, 85: 1, 90: 1, 126: 1})