In [18]:
import pandas as pd

In [19]:
d = pd.read_csv("./model_quality.csv")

In [20]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 310 entries, 0 to 309
Data columns (total 8 columns):
model    310 non-null object
count    310 non-null int64
year     302 non-null float64
type     307 non-null object
stype    295 non-null object
size     283 non-null float64
emp      296 non-null float64
make     309 non-null object
dtypes: float64(3), int64(1), object(4)
memory usage: 21.8+ KB

In [21]:
df = pd.read_csv("./astro_tag_exif_autotags_clean.csv")

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5962 entries, 0 to 5961
Data columns (total 12 columns):
local_path        5962 non-null object
id                5962 non-null int64
user_nid          5962 non-null object
date_taken        5962 non-null object
capture_device    3915 non-null object
lon               4353 non-null float64
lat               4353 non-null float64
autotags          5907 non-null object
ISO               3616 non-null object
shutter           3734 non-null object
aperture          3340 non-null object
focal             3485 non-null float64
dtypes: float64(3), int64(1), object(8)
memory usage: 605.5+ KB

In [23]:
d.rename(columns={"model":"capture_device"},inplace=True)

In [24]:
d.set_index("capture_device",inplace=True)

In [25]:
df = df.join(d,on="capture_device")

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5962 entries, 0 to 5961
Data columns (total 19 columns):
local_path        5962 non-null object
id                5962 non-null int64
user_nid          5962 non-null object
date_taken        5962 non-null object
capture_device    3915 non-null object
lon               4353 non-null float64
lat               4353 non-null float64
autotags          5907 non-null object
ISO               3616 non-null object
shutter           3734 non-null object
aperture          3340 non-null object
focal             3485 non-null float64
count             3915 non-null float64
year              3892 non-null float64
type              3909 non-null object
stype             3878 non-null object
size              3856 non-null float64
emp               3878 non-null float64
make              3914 non-null object
dtypes: float64(7), int64(1), object(11)
memory usage: 931.6+ KB

In [31]:
df.to_csv("./astro_tag_exif_autotags_clean_quality.csv",index=False)